*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 2px solid red;
}
.buttons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
}

.but {
  cursor: pointer;
  text-align: center;
}

.but-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.but-2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
